#cabecalho
{
  margin: 0;
  background-color: green;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  width: 100%;
  height: 100px;
}

#cabecalho h1
{
  width: 420px;
  height: 100px;
  margin-left: 2%;
  margin-top: 35px;
  margin-bottom: 10px;
}
#pesquisa
{
  display: flex;
  margin-top: 11%;
  margin-left: 6%;
  width: 220%;
  height: 50px;
  border-radius: 2%;
  border-color: #014b0b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-suffix {
  position: relative;
}
  
.input-suffix input {
  padding-right: 30px; /* adjust the padding to accommodate the icon */
}
  
.input-suffix i {
  position: absolute;
  right: -136%;
  top: 43%;
  transform: translateY(-15%);
  font-size: 18px;
  color: #0b6e24; /* adjust the color to your liking */
}